In [1]:
import pandas as pd

In [2]:
df= pd.read_excel('https://github.com/chris78rey/DIPLOM_BIGDATA/blob/main/DATOS_PRUEBA.xlsx?raw=true')

In [3]:
df

     CATEGORIA  VALOR  VALOR 2           Date&Time
0        Item4     87    87.09 2021-08-01 18:07:20
1         Item     46    45.58 2021-08-01 21:02:37
2        Item5     84    84.28 2021-08-01 23:57:53
3        Item0     35    35.04 2021-08-02 02:53:10
4        Item2     10    10.25 2021-08-02 05:48:27
...        ...    ...      ...                 ...
2995     Item6     52    52.22 2022-08-01 07:26:13
2996      Item     89    88.94 2022-08-01 10:21:30
2997     Item3     16    15.70 2022-08-01 13:16:47
2998     Item1     12    11.84 2022-08-01 16:12:03
2999      Item     69    69.04 2022-08-01 19:07:20

[3000 rows x 4 columns]

In [4]:
df.reset_index

<bound method DataFrame.reset_index of      CATEGORIA  VALOR  VALOR 2           Date&Time
0        Item4     87    87.09 2021-08-01 18:07:20
1         Item     46    45.58 2021-08-01 21:02:37
2        Item5     84    84.28 2021-08-01 23:57:53
3        Item0     35    35.04 2021-08-02 02:53:10
4        Item2     10    10.25 2021-08-02 05:48:27
...        ...    ...      ...                 ...
2995     Item6     52    52.22 2022-08-01 07:26:13
2996      Item     89    88.94 2022-08-01 10:21:30
2997     Item3     16    15.70 2022-08-01 13:16:47
2998     Item1     12    11.84 2022-08-01 16:12:03
2999      Item     69    69.04 2022-08-01 19:07:20

[3000 rows x 4 columns]>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORIA  3000 non-null   object
 1   VALOR      3000 non-null   int64
 2   VALOR 2    3000 non-null   float64
 3   Date&Time  3000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 93.9+ KB

In [7]:
df_grupo_suma=df.groupby(['CATEGORIA'])